<a href="https://colab.research.google.com/github/Tinauyateide/Data-cleaning/blob/main/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Use else block to display a message “Done” after successful execution of for loop.

In [1]:
for num in range(1, 5):
    print(num)
else:
    print("Done")

1
2
3
4
Done

# Write a program to display all prime numbers within a range.

In [4]:
lower_num = int(input("Enter lower_num: "))
higher_num = int(input("Enter higher_num: "))

for num in range(lower_num,higher_num):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
            else:
                print(num)

Enter lower_num: 3
Enter higher_num: 10
3
5
5
5
7
7
7
7
7
9

# Use a loop to display elements from a given list present at odd index positions.

In [5]:
def odd_indices(lst):
    new_lst = []
    new_lst.append(lst[0::2])
    return new_lst

print("Element of Given array present in Odd index positions:")
print(odd_indices([1,7,8,4,10,13,17]))

Element of Given array present in Odd positions:
[[1, 8, 10, 17]]

# Calculate the cube of all numbers from 1 to a given number

In [6]:
c=dict()
for x in range(1,10):
    c[x]=x**3
print(c)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}